p {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* This style below will be inheriter*/
  body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    margin-bottom: 1000px;
    padding-right: 24px;
    background-color: rgb(250, 245, 245);
  }